
.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
}

.social-media img {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 35px;
  height: 35px;

}

.social-media img:hover {
  transform: scale(1.15);
}
