# Angular / CLI
/dist
/tmp
/out-tsc
/.angular/cache
/.angular/local
/.sass-cache

# Node
/node_modules
/npm-debug.log*
/yarn-error.log*
/package-lock.json
/yarn.lock

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
*.launch
.settings/
*.sublime-workspace
.history/*

# Test / Coverage
/coverage
/test-results
/__screenshots__/

# System files
.DS_Store
Thumbs.db

# Misc
/connect.lock
/typings
