.section {
  width: 100%;
  min-height: 70vh;    
  padding: 20px 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: #000000;
  gap: 10px;
  margin-bottom: 0px; 

}

.section-title {
  text-align: center;
  color: #f59d1a;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ff9503;
  margin: 10px auto 0;
  border-radius: 2px;
  transition: width 0.6s ease;
}

.section-title:hover::after {
  width: 60px;
}

.section-subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
}

.section-subtitle::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ff9503;
  margin: 10px auto 0;
  border-radius: 2px;
  transition: width 0.6s ease;
}

.section-subtitle:hover::after {
  width: 60px;
}
.section-description {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 30px;
}
.section-body {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 768px) {
  .section-title { 
    font-size: 28px;
  }
  .section-subtitle { font-size: 20px; }
  .section-description { font-size: 16px; }
  .section {  
    border-radius: 20px;
  }
}
