.volunteering-item {
  background-color: #111;
  border-radius: 15px;
  margin-bottom: 25px;
  overflow: hidden;
  box-shadow: 0 0 20px #f59d1a30;
  transition: all 0.3s ease;
  cursor: pointer;
}

.volunteering-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 25px #f59d1a70;
}

.vol-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: transparent;
  color: #f59d1a;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vol-btn img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: contain;
  background: #222;
  padding: 5px;
}

.vol-btn:hover {
  background-color: #f59d1a15;
  padding-left: 30px;
}

.company {
  color: #ccc;
  font-size: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.popup-content {
  background: #2e2e2eee;
  border: 1px solid #f59d1a;
  border-radius: 15px;
  padding: 30px 40px;
  width: 90%;
  max-width: 600px;
  color: #fff;
  box-shadow: 0 0 40px #f59d1a70;
  position: relative;
  animation: slideUp 0.3s ease;
    text-align: left;
}

.popup-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.popup-header img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: contain;
  background: #222;
  padding: 5px;
}

.popup-details p {
  margin: 6px 0;
  color: #ddd;
  
}

.popup-description {
  margin-top: 15px;
  font-size: 16px;
  color: #ccc;
  line-height: 1.7;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 26px;
  color: #f59d1a;
  background: none;
  border: none;
  cursor: pointer;
}
.skills {
  margin-top: 15px;
}

.skills h4 {
  color: #f59d1a;
  font-size: 18px;
  margin-bottom: 8px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  background: #1a1a1a;
  margin-bottom: 5px;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  color: #ccc;
  border-left: 3px solid #f59d1a;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


@media (max-width: 600px) {
  .vol-btn {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .popup-content {
    padding: 20px;
  }
  .popup-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
