.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  align-content: center;
}

.nav-item {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #f59d1a;
}
.nav-item.active {
  color: #f59d1a;
  font-weight: 600;
  position: relative;
}



.hiring-btn {
  background-color: #f59d1a;
  border: none;
  color: #ffffff;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hiring-btn:hover {
  background-color: #ce800c;
  transform: scale(1.05);
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
  gap: 25px;
  transition: all 0.3s ease;
}

@media (max-width: 1200px) {
  .menu-icon {
    display: block;
  }

  .nav {
    position: relative;
    padding: 2px 25px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background: #111;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #333;
    z-index: 1001;
  }

  .nav-links.active {
    display: flex;
    animation: slideDown 0.3s ease;
  }

  .nav-item {

    width: 100%;
    text-align: center;
    padding: 12px 25px;
    border-bottom: 1px solid #222;
  }


  .nav-item:hover {
    background: #222;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hiring-btn {
    padding: 12px 16px;
    font-size: 14px;
  }
}
