.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
  text-align: left;
}

.about-right p {
  font-size: 17px;
  color: #ccc;
  margin-bottom: 25px;
}

.personal-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 25px;
  color: #ddd;
}

.personal-info strong {
  color: #f59d1a;
}

.about-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.download-cv {
  display: inline-block;
  background: #f59d1a;
  color: #111;
  padding: 12px 35px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 16px;
}

.download-cv:hover {
  background-color: #ffb74d;
  transform: translateY(-2px);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.social-icons a {
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  background-color: #ffb74d;
  transform: scale(1.1);
}

.social-icon-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.social-icons a:hover .social-icon-img {
  opacity: 1;
}

.about-left {
  flex: 1;
  text-align: center;
}

.about-img {
  width: 100%;
  max-width: 320px;
  padding-top: 40px;
  border-radius: 50% 50% 25% 25% / 60% 60% 15% 15%;
  border: 3px solid #f59d1a55;
  box-shadow: 0 0 30px #f59d1a55;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #f59d1a99;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-left {
    order: -1;
  }

  .about-img {
    max-width: 260px;
    margin-bottom: 20px;
  }

  .about-right {
    align-items: center;
  }

  .about-right p {
  text-align: center;
}

  .personal-info {
    grid-template-columns: 1fr;
  }

  .about-actions {
    flex-direction: column;
    gap: 15px;
  }

  .download-cv {
    width: 70%;
    text-align: center;
  }

  .social-icons {
    padding-top: 20px;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .section-title {
    font-size: 2rem;
  }

  .download-cv {
    font-size: 14px;
    padding: 10px 25px;
  }

  .social-icon-img {
    width: 45px;
    height: 45px;
  }
}
