.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-content {
  flex: 1;
  background: #1a1a1a;
}

.state {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;
  padding: 1rem;

}
