
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Increase z-index */
}

.main-content {
  flex: 1;
  background: #1a1a1a;
  position: relative; /* Add this */
  z-index: 1; /* Add this */
  overflow-x: hidden; /* Prevent horizontal scroll */
}




.bottom-footer{
    padding-top: 2px;

}

.bottom-footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #f59d1a, #ff9503);
}


@media (max-width: 1200px) {

  .bottom-footer::before {
    height: 1px;
  }
  .bottom-footer {
    padding-top: 1px;
  }
}

