<section class="services" id="services">
  <h2 class="section-title">Services</h2>
  <p class="services-subtitle">
    Developing robust foundations, delivering polished experiences.
  </p>

  <div class="services-container">
    <div class="service-box" *ngFor="let service of services">
      <div class="service-icon">
        <img [src]="readIcon(service.image)" [alt]="service.image" />
      </div>


      <div class="service-content">
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
      </div>
    </div>
  </div>
</section>
