* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f59d1a;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo:hover {
  color: #ffc75f;
}
.section-content {
    width: 100%;
    padding: 10px 10%;
}