
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #272727;
  color: white;
  margin-top: auto;
  gap: 20px;
}

.footer .logo {
  font-size: 26px;
  color: #f59d1a;
}



.footer .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact-info p img{
  width: 30px;
  height: 30px;
}

.footer .contact-info p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.footer p:last-child {
  font-size: 16px;
  color: #bbb;
}



@media (max-width: 600px) {

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .contact-info p {
    justify-content: center;
  }

}
